:root{
    --orange: #ee801e;
    --orange2: #dfa61f;
    --yellow: #d9b115;
    --green: #8b9f2a;
    --text-white:rgb(192, 201, 203);
}

html{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    color:var(--text-white);
    background-color: rgb(5,12,17);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

a{
    color: var(--text-white);
    text-decoration: none;
}

.initial-view{
    min-height: 100vh;
    box-sizing: border-box;
    padding: 1px;
    position: relative;
    display: flex;
}

.header{
    max-width: 600px;
    margin: auto;
    position: absolute;
    left: calc(50% - 275px);
    top: 100px;
    z-index: 20;
}

.header a{
    display: flex;
}

.header h1{
    margin: 5px 0 0 0;
    font-size: 38px;
    line-height: 45px;
    text-align: left;
    align-self: center;
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

@keyframes pin-header{
    0%{transform: translateY(-60px);}
    100%{transform: translateY(0px);}
}

.pin h1{
    font-size: 20px;
    line-height: 24px;
    margin: -2px auto auto 2px;
}

div.pin{
    background-color: rgb(5,12,17);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    font-size: 10px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.6);
    animation: pin-header;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    padding: 5px;
}

.pin .gear{
    height: 25px;
    width: 25px;
}

.pin .gear:nth-child(1){top:10px;}
.pin .gear:nth-child(2){left:-6px}

h1, h2, h3{
    font-family: 'Oswald';
    font-weight: 400;
    letter-spacing: 1px;
}

.gear{
    height: 55px;
    width: 55px;
    align-self: center;
    margin:0;
    position: relative;
}

@keyframes spin-clockwise{
    100%{transform: rotate(90deg);}
}
@keyframes spin-counter-clockwise{
    100%{transform: rotate(-90deg);}
}

.gear:nth-child(1){
    top: 19px;
    left: 5px;
}

.gear:nth-child(2){
    top: -11px;
    left: -6px;
}

.gear:nth-child(1) path{
    animation: spin-clockwise;
}
.gear:nth-child(2) path{
    animation: spin-counter-clockwise;
}

.gear:nth-child(1) path, .gear:nth-child(2) path{
    transform-origin: 30px 30px;
    fill: var(--yellow);
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.intro{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px 0 20px;
}

.intro h2{
    margin-top: 0;
    border-bottom: 1px dashed rgb(119, 134, 145);
    line-height: 70px;
}

.intro > div{
    flex: 2;
    margin:0 0 0 50px;
}

.intro > div:nth-child(3){
    flex: 1;
}

.intro>div:first-child{
    margin:0;
}

.contact a{
    display: block;
    margin-top: 20px;
}

.contact a.mail-link{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
}

.github-icon, .dribbble-icon, .mail-icon{
    height: 30px;
    width: auto;
    fill: var(--text-white);
}

.mail-link span, .mail-icon, .github-icon, .dribbble-icon{
    transition:all .2s;
}

.mail-icon{
    height: auto;
    width: 30px;
    margin-right: 9px;
}

.mail-link:hover span{
    color: var(--yellow);
}

.mail-link:hover .mail-icon, a:hover .github-icon, a:hover .dribbble-icon{
    fill: var(--yellow);
}


.see-work-btn{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    width: 200px;
    height: 100px;
    left: 50%;
    transform: translateX(-100px);
    position: absolute;
    bottom: 50px;
    transition: all .3s;
}

.see-work-btn span{
    display: block;
    height: 32px;
}

.arrow{
    fill: var(--text-white);
    transition: all .2s;
}

.see-work-btn:hover .arrow{
    fill: var(--yellow);
    margin-top: 10px;
}

.see-work-btn:hover{
    color: var(--yellow);
    letter-spacing: 1px;
    font-size: 21px;
}

.cta{
    box-sizing: border-box;
    color:rgb(192, 201, 203);
    text-align: center;
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    width: 200px;
    border:2px solid rgb(192, 201, 203);
    background-color: rgba(192, 201, 203, 0);
    transition: linear .2s;
    margin-bottom: 10px;
}

.cta:hover{
    color: rgb(15, 32, 42);
    background-color: rgba(192, 201, 203, 1);
}

/* projects */

#projects-container{
    padding-bottom: 10px;
}

.project-container{
    position: relative;
    overflow: hidden;
    border-bottom: 4px solid #010406;
    transition: opacity .3s;
    opacity: .3;
}

.highlight{
    opacity: 1;
}

.project-container:first-child{
    border-top: 4px solid #010406;
}

.project{
    display: flex;
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding: 0 20px 0 20px;
}

.project-img-container{
    font-size: 0;
    padding-top: 100px;
}

canvas{
    filter:blur(100px) saturate(4);
    position: absolute;
    z-index: 1;
    opacity: .5;
}


.project-img-container img{
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 800px;
    height: auto;
}

.project-details{
    width: 400px;
    position: relative;
    z-index: 3;
    align-self: center;
    margin-left: 80px;
    box-sizing: border-box;
}

.project-details h3{
    border-bottom:1px solid rgb(54, 69, 79);
    padding-bottom: 10px;
    width: fit-content;
}

.project-details p{
    margin-bottom: 30px;
}

/* study pages */

.study-container{
    max-width: 1150px;
    margin: auto;
    padding: 90px 20px 20px 20px;
}

.study-container img{
    max-width: 100%;
    margin: 10px 0 10px 0;
}

.study-details{
    display: flex;
}

.study-details p{
    margin: 0 80px auto auto;
}

@media screen and (max-width:900px) {

    .initial-view{
        padding: 20px;
    }
        
    .header{
        top: 75px;
    }

    .header h1{
        font-size: 32px;
        line-height: 38px;
    }

    .gear{
        height: 50px;
        width: 50px;
    }

    .gear:nth-child(1){
        top: 17px;
        left: 5px;
    }
    
    .gear:nth-child(2){
        top: -10px;
        left: -5px;
    }

    .intro{
        flex-direction: column;
        margin: 200px auto 170px auto;
    }

    .intro > div{
        margin:0;
    }

    
    .project-container{
        opacity: 1;
    }


}

@media  screen and (max-width:600px) {

    .header{
        left: calc(50% - 150px);
        top: 20px;
    }

    h1{
        font-size: 28px;
        width: 200px;
        margin-left: 10px;
    }

    .pin h1{
        width: auto;
        font-size: 22px;
    }

    .intro{
        margin-top: 130px;
        padding: 0;
    }

    .contact a{
        width: fit-content;
        margin: auto auto 20px auto;
    }

    .project-container{
        border-bottom: 10px solid #010406;
    }

    .project{
        flex-direction: column;
        background-color: #050c11;
    }

    .project-img-container{
        padding: 100px 0 0 0;
    }

    canvas{
        opacity: 1;
    }

    .project-details{
        width: 100%;
        margin: 0;
        padding: 15px 15px 65px 15px;
        background-color: rgba(5,12,17, .8);
        box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, .8);
    }

    .cta{
        margin: auto auto 10px auto;
    }

    .study-details{
        flex-direction: column;
    }

    .study-details p{
        margin: 0;
    }

    .study-details .links{
        margin: 30px auto 20px auto;
    }
}